.header {
    background: linear-gradient(to right, #0e03fc, #804cff); /* Gradiente de color1 a color5 */
  }
  .header {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra más sutil */
  }
  .title {
    font-family: 'Nombre de la Fuente', sans-serif; /* Reemplaza 'Nombre de la Fuente' */
  }